.navbar {
  background-color: #ffffff;
  padding: 1rem; /* Zwiększono padding dla większego navbaru */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* Płynne przejście między stanami */
  font-family: 'Roboto', sans-serif;
}

.navbar-scrolled {
  padding: 0.5rem 2rem; /* Mniejszy padding po przewinięciu */
  background-color: #ffffff; /* Opcjonalnie ciemniejsze tło po przewinięciu */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-brand-name {
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  margin-right: 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navbar-brand-name-small {
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  margin-right: 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navbar-logo {
  height: 50px; /* Większe logo */
  margin-right: 10px;
  transition: height 0.3s ease;
}

.navbar-scrolled .navbar-logo {
  height: 40px; /* Mniejsze logo po przewinięciu */
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease;

}

.navbar-item {
  margin: 0 1rem;
  
}

.navbar-link {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease, font-size 0.3s ease;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.navbar-icon{
  color: #000000;
  cursor: pointer;
  padding-right: 0;
  padding-right: 3px;
}

.navbar-scrolled .navbar-link {
  font-size: 1rem; /* Mniejsza czcionka po przewinięciu */
}

.navbar-link:hover {
  color: #ddd;
}

.navbar-icon:hover {
  color: #ddd;
}

.navbar-brand-name-small{
  display: none;
}

.burger-menu {
  display: none;
}

@media (max-width: 1440px) {
  .navbar-menu {
    padding-right: 40px;
  }
  .phone-number-text {
    display: none;
}
  .location-text {
    display: none;
  }
}

@media(max-width: 950px){
  .navbar-brand-name {
    display: none;
  }
  
  .navbar-brand-name-small{
    display: inline;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    margin-right: 10px;
  }

  .burger-menu{
    display: block;
    color: #000000;
    cursor: pointer;
  }

  .navbar-icon {
    display: none;
  }

  .navbar{
    padding: 1rem 0rem;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 60px;
    background-color: #fcfcfcf6;
    text-align: center;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    transition: max-height 0.3s ease;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

  }

  .navbar-menu.active {
    max-height: 400px;
  }

  .navbar-item {
    margin: 1rem 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    padding: 1px;
    
  }

}
